/* display: 'flex', height: '100%', width: '100%', flexDirection: 'column', padding: '0'  */
/* textAlign: 'right', paddingRight: '10px', marginTop: '5px' */
/* fontSize: '9px', fontWeight: '300', padding: '30px', lineHeight: '10px', display: 'flex',  flexDirection: 'column', gap: '30px' */
/* fontWeight: '400', marginLeft: '20px' */
.menu-container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 0;
}

.close-button{
    text-align: right;
    padding-right: 10px;
    margin-top: 5px;
}

.sub-container{
    font-size: 9px;
    font-weight: 300;
    padding: 30px;
    line-height: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.expand{
    transform: translateX(0);
    opacity: 1;
}

.collapsed{
    opacity: 0;
    transform: translateX(-4%);
}

.title{
   
    transition: all .5s ease-in-out .1s;
}



.projects-container{
   
    transition: all .5s ease-in-out .3s;
}

.description{
    
    transition: all .5s ease-in-out .4s;
}

.project{
    z-index:30;
    font-weight: 300;
    margin-left: 20px;
    transition: font-weight .3s ;
}
.project:hover{
    font-weight: 600;
}

  

